Repository kitcc-org/kitcc-library, pull requests merged in 2024-11, with the labels that each got.

#111 routes直下をディレクトリで分割した
  frontend/app/components/header/HeaderLoginButton.tsx
  frontend/app/routes/_index/route.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.books.$bookId/route.tsx
  frontend/app/routes/home.mypage/route.tsx
  frontend/app/routes/home/route.tsx
  frontend/app/routes/login/route.tsx
  frontend/test/routes/login.test.tsx
Labels: frontend

#114 APIのソート順の記述を修正した
  api/bundle.yml
  api/paths/book.yml
  api/paths/loan.yml
  frontend/client/client.schemas.ts
  frontend/test/mocks/model/getBooksParams.ts
  frontend/test/mocks/model/getLoansParams.ts
  orval.config.dev.js
Labels: backend

#120 common配下のコンポーネントを分類した
  frontend/app/components/book-detail/BookDetailComponent.tsx
  frontend/app/components/books/BookListComponent.tsx
  frontend/app/components/common/error/ErrorComponent.tsx
  frontend/app/components/common/pagination/ContentsHeader.tsx
  frontend/app/components/common/pagination/CurrentContentNumber.tsx
  frontend/app/components/common/pagination/LimitSelect.tsx
  frontend/app/components/common/pagination/PaginationComponent.tsx
Labels: frontend

#116 書籍とユーザをまとめて削除できるAPIを追加した
  api/bundle.yml
  api/components/schemas/Book.yml
  api/paths/book.yml
  api/paths/user.yml
  backend/src/api/book.ts
  backend/src/api/user.ts
  backend/src/schema.ts
  backend/test/api/books.test.ts
  backend/test/api/users.test.ts
  backend/test/context/login.ts
  frontend/client/client.schemas.ts
  frontend/client/client.ts
  frontend/test/mocks/mock.ts
  frontend/test/mocks/model/deleteBooksBody.ts
  frontend/test/mocks/model/deleteUsersBody.ts
  frontend/test/mocks/model/index.ts
Labels: backend

#118 書籍編集ページの実装
  frontend/app/components/book-detail-edit/BookDetailAuthorsForm.tsx
  frontend/app/components/book-detail-edit/BookDetailEditContent.tsx
  frontend/app/components/book-detail-edit/BookDetailEditTitle.tsx
  frontend/app/components/book-detail-edit/BookDetailIsbnForm.tsx
  frontend/app/components/book-detail-edit/BookDetailPublishedDateForm.tsx
  frontend/app/components/book-detail-edit/BookDetailPublisherForm.tsx
  frontend/app/components/book-detail-edit/BookDetailStockForm.tsx
  frontend/app/components/book-detail-edit/BookDetailSubmitButton.tsx
  frontend/app/components/book-detail-edit/BookDetailTitleForm.tsx
  frontend/app/components/book-detail/BookDetailContent.tsx
  frontend/app/components/book-detail/BookDetailControlPanel.tsx
  frontend/app/components/book-detail/BookDetailEditButton.tsx
  frontend/app/components/book-detail/BookDetailHeader.tsx
  frontend/app/components/book-search/BookSearchModeButton.tsx
  frontend/app/components/book-search/BookSearchSubmitButton.tsx
  frontend/app/components/books/BookCardHeader.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
  frontend/app/components/layouts/FormBaseLayout.tsx
  frontend/app/components/layouts/FormLayout.tsx
  frontend/app/root.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.books.$bookId._index/route.tsx
  frontend/app/routes/home.books.$bookId.edit/route.tsx
  frontend/app/routes/home.books.$bookId/route.tsx
  frontend/app/stores/bookAtom.ts
  frontend/app/stores/cartAtom.ts
  frontend/app/utils/day.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#125 GET /boos/searchのレスポンスにidを追加した
  api/bundle.yml
  api/paths/book.yml
  backend/src/api/book.ts
  backend/src/schema.ts
  frontend/client/client.schemas.ts
  frontend/test/mocks/mock.ts
  frontend/test/mocks/model/searchBooks200BooksItem.ts
Labels: backend

#122 書籍一覧画面のactionを実装した
  backend/drizzle/seeds/book.sql
  frontend/app/components/book-detail/BookDetailControlPanel.tsx
  frontend/app/components/books/BookCardHeader.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.books.$bookId/route.tsx
Labels: frontend

#126 グローバル検索ページの実装
  frontend/app/components/book-search/BookSearchAuthorForm.tsx
  frontend/app/components/books/BookCardThumbnail.tsx
  frontend/app/components/books/BookCards.tsx
  frontend/app/components/books/NoBookComponent.tsx
  frontend/app/components/common/pagination/PaginationComponent.tsx
  frontend/app/components/global-books/GLobalBookSearchAuthorForm.tsx
  frontend/app/components/global-books/GlobalBookCard.tsx
  frontend/app/components/global-books/GlobalBookCards.tsx
  frontend/app/components/global-books/GlobalBookDetailSearchForm.tsx
  frontend/app/components/global-books/GlobalBookKeywordSearchForm.tsx
  frontend/app/components/global-books/GlobalBookListComponent.tsx
  frontend/app/components/global-books/GlobalBookSearchComponent.tsx
  frontend/app/components/global-books/GlobalBookSearchIsbnForm.tsx
  frontend/app/components/global-books/GlobalBookSearchKeywordForm.tsx
  frontend/app/components/global-books/GlobalBookSearchModeButton.tsx
  frontend/app/components/global-books/GlobalBookSearchPublisherForm.tsx
  frontend/app/components/global-books/GlobalBookSearchSubmitButton.tsx
  frontend/app/components/global-books/GlobalBookSearchTitleForm.tsx
  frontend/app/components/global-books/GlobalSearchSegment.tsx
  frontend/app/components/global-books/NoQueryComponent.tsx
  frontend/app/components/header/HeaderBookMenu.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.global._index/route.tsx
  frontend/app/routes/home.global/route.tsx
Labels: frontend

#132 ユーザのGET APIの仕様を変更した
  api/bundle.yml
  api/paths/user.yml
  backend/src/api/user.ts
  backend/src/schema.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
  frontend/client/client.schemas.ts
  frontend/client/client.ts
  frontend/test/mocks/mock.ts
  frontend/test/mocks/model/getUsers200.ts
  frontend/test/mocks/model/getUsers200UsersItem.ts
  frontend/test/mocks/model/index.ts
Labels: backend

#130 READMEを書いた
  README.dev.md
  README.md
  frontend/app/img/kitcc.png
Labels: documentation

#133 カートページの実装
  frontend/app/components/books/BookCard.tsx
  frontend/app/components/books/BookCardCartButton.tsx
  frontend/app/components/books/BookCardFooter.tsx
  frontend/app/components/books/BookCardHeader.tsx
  frontend/app/components/books/BookCardThumbnail.tsx
  frontend/app/components/books/BookCards.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
  frontend/app/components/cart/CartCard.tsx
  frontend/app/components/cart/CartCardHeader.tsx
  frontend/app/components/cart/CartCardNumberInput.tsx
  frontend/app/components/cart/CartCards.tsx
  frontend/app/components/cart/CartListComponent.tsx
  frontend/app/components/cart/CartSelectedDialog.tsx
  frontend/app/components/cart/CartTitle.tsx
  frontend/app/components/cart/NoCartComponent.tsx
  frontend/app/components/global-books/GlobalBookCards.tsx
  frontend/app/routes/home.cart/route.tsx
  frontend/app/stores/bookAtom.ts
  frontend/app/stores/cartAtom.ts
  frontend/app/utils/cart.ts
Labels: frontend

#135 カートページに自動的にリダイレクトする
  README.md
  frontend/app/components/books/BookCardCartButton.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.books.$bookId.edit/route.tsx
  frontend/app/routes/home.books.$bookId/route.tsx
  frontend/app/routes/home.cart/route.tsx
  frontend/app/routes/home.global.books.$isbn/route.tsx
  frontend/app/routes/home.mypage/route.tsx
  frontend/app/routes/home/route.tsx
  frontend/app/routes/login/route.tsx
  frontend/app/services/session.server.ts
Labels: frontend

#137 ユーザー一覧の実装
  frontend/app/components/book-detail/BookDetailControlButtons.tsx
  frontend/app/components/book-detail/BookDetailDeleteButton.tsx
  frontend/app/components/books/BookListComponent.tsx
  frontend/app/components/common/pagination/PaginationComponent.tsx
  frontend/app/components/global-books/GlobalBookListComponent.tsx
  frontend/app/components/users/NoUserComponent.tsx
  frontend/app/components/users/UserAddButton.tsx
  frontend/app/components/users/UserDeleteButton.tsx
  frontend/app/components/users/UsersListComponent.tsx
  frontend/app/components/users/UsersListTable.tsx
  frontend/app/components/users/UsersListTitle.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.books.$bookId/route.tsx
  frontend/app/routes/home.global._index/route.tsx
  frontend/app/routes/home.global.books.$isbn/route.tsx
  frontend/app/routes/home.users._index/route.tsx
  frontend/app/routes/home.users/route.tsx
  frontend/app/routes/home/route.tsx
  frontend/app/types/modal.d.ts
  frontend/app/types/paginatiion.d.ts
  frontend/app/types/response.d.ts
Labels: frontend

#138 ユーザ更新時にパスワードのバリデーションをかける
  api/bundle.yml
  api/components/examples/user.yml
  api/paths/user.yml
  backend/src/api/user.ts
  backend/src/schema.ts
  backend/test/api/user.test.ts
  frontend/client/client.schemas.ts
  frontend/test/mocks/mock.ts
  frontend/test/mocks/model/updateUserBody.ts
Labels: backend

#140 蔵書一覧ページのテストを書いた
  .github/workflows/backend-vitest.yml
  .github/workflows/frontend-vitest.yml
  .github/workflows/notify-stale-pr.yml
  .github/workflows/publish-spec.yml
  .github/workflows/validate-spec.yml
  README.md
  frontend/app/components/book-search/BookSearchAuthorForm.tsx
  frontend/app/components/book-search/BookSearchIsbnForm.tsx
  frontend/app/components/book-search/BookSearchPublisherForm.tsx
  frontend/app/components/book-search/BookSearchTitleForm.tsx
  frontend/app/components/books/BookCard.tsx
  frontend/app/routes/home._index/route.tsx
  frontend/app/routes/home.global._index/route.tsx
  frontend/test/helpers/wrapper.tsx
  frontend/test/routes/home._index/route.test.tsx
  frontend/test/routes/login/route.test.tsx
Labels: frontend

#142 ローディング中のUIを実装した
  frontend/app/root.tsx
Labels: frontend

#148 ユーザー作成ページの実装
  frontend/app/components/header/HeaderUsersMenu.tsx
  frontend/app/components/login/LoginFormComponent.tsx
  frontend/app/components/login/LoginSubmitButton.tsx
  frontend/app/components/user-create/PasswordCopyButton.tsx
  frontend/app/components/user-create/PasswordGenerateButton.tsx
  frontend/app/components/user-create/PasswordValidCountComponent.tsx
  frontend/app/components/user-create/PasswordValidProgress.tsx
  frontend/app/components/user-create/UserCreateComponent.tsx
  frontend/app/components/user-create/UserCreateEmailForm.tsx
  frontend/app/components/user-create/UserCreateNameForm.tsx
  frontend/app/components/user-create/UserCreatePasswordComponent.tsx
  frontend/app/components/user-create/UserCreatePasswordForm.tsx
  frontend/app/components/user-create/UserCreateSubmitButton.tsx
  frontend/app/components/user-create/UserCreateTitle.tsx
  frontend/app/components/users/UserCreateButton.tsx
  frontend/app/components/users/UsersListComponent.tsx
  frontend/app/routes/home.users.create/route.tsx
  frontend/app/routes/login/route.tsx
  frontend/app/utils/password.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#150 ユーザー情報編集ページの実装
  frontend/.eslintrc.cjs
  frontend/app/components/book-search/BookSearchModeButton.tsx
  frontend/app/components/books/BookCardHeaderBadge.tsx
  frontend/app/components/books/BookCards.tsx
  frontend/app/components/cart/CartCardNumberInput.tsx
  frontend/app/components/global-books/GlobalBookSearchModeButton.tsx
  frontend/app/components/me-edit/MyPageEditComponent.tsx
  frontend/app/components/me-edit/MyPageEditCurrentPasswordForm.tsx
  frontend/app/components/me-edit/MyPageEditEmailForm.tsx
  frontend/app/components/me-edit/MyPageEditNameForm.tsx
  frontend/app/components/me-edit/MyPageEditNewPasswordAgainForm.tsx
  frontend/app/components/me-edit/MyPageEditNewPasswordForm.tsx
  frontend/app/components/me-edit/MyPageEditPasswordFieldSet.tsx
  frontend/app/components/me-edit/MyPageEditProfileFieldSet.tsx
  frontend/app/components/me-edit/MyPageEditSubmitButton.tsx
  frontend/app/components/me-edit/MyPageEditTitle.tsx
  frontend/app/components/users/UsersListTable.tsx
  frontend/app/routes/home.books.$bookId.edit/route.tsx
  frontend/app/routes/home.me.edit/route.tsx
  frontend/app/routes/login/route.tsx
Labels: frontend

#149 書籍詳細ページのテストを書いた
  .github/workflows/notify-stale-pr.yml
  frontend/app/components/book-detail/BookDetailAuthorBadge.tsx
  frontend/app/components/book-detail/BookDetailContentTable.tsx
  frontend/app/components/book-detail/BookDetailEditButton.tsx
  frontend/app/components/book-detail/BookDetailThumbnail.tsx
  frontend/test/routes/home._index/route.test.tsx
  frontend/test/routes/home.books.bookId/route.test.tsx
Labels: frontend

#159 古いPRをSlackに通知するワークフローを修正した
  .github/workflows/notify-stale-pr.yml
Labels: bug
