Repository kitcc-org/kitcc-library, pull requests merged in 2024-10, with the labels that each got.

#18 フロントエンドを開発するためにRemixの環境を用意
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/app/entry.client.tsx
  frontend/app/entry.server.tsx
  frontend/app/root.tsx
  frontend/app/routes/_index.tsx
  frontend/app/tailwind.css
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/public/logo-dark.png
  frontend/public/logo-light.png
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: good first issue, frontend

#16 書籍を取得するAPIに書籍のクエリパラメータを追加した
  api/paths/book.yml
Labels: bug

#19 ClaudeFlareでデプロイするための初期化に変更
  frontend/.gitignore
  frontend/README.md
  frontend/app/entry.server.tsx
  frontend/app/root.tsx
  frontend/app/routes/_index.tsx
  frontend/functions/[[path]].ts
  frontend/load-context.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/_headers
  frontend/public/_routes.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/worker-configuration.d.ts
  frontend/wrangler.toml
Labels: frontend

#21 書籍に関するAPIを実装した
  .github/workflows/publish_spec.yml
  .github/workflows/validate_spec.yml
  .github/workflows/vitest.yml
  README.md
  api/components/examples/book.yml
  api/components/responses/4xx.yml
  api/components/responses/5xx.yml
  api/components/schemas/Book.yml
  api/components/schemas/Error.yml
  api/openapi.yml
  api/paths/auth.yml
  api/paths/book.yml
  api/paths/loan.yml
  api/paths/user.yml
  backend/.dev.vars.sample
  backend/.prettierrc
  backend/README.md
  backend/drizzle.config.local.ts
  backend/drizzle.config.ts
  backend/drizzle/migrations/0000_milky_crusher_hogan.sql
  backend/drizzle/migrations/0001_glorious_james_howlett.sql
  backend/drizzle/migrations/meta/0000_snapshot.json
  backend/drizzle/migrations/meta/0001_snapshot.json
  backend/drizzle/migrations/meta/_journal.json
  backend/drizzle/schema.ts
  backend/drizzle/seeds/book.sql
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/api/book.ts
  backend/src/index.ts
  backend/src/schema.ts
  backend/supabase/.gitignore
  backend/supabase/config.toml
  backend/supabase/seed.sql
  backend/test/api/book.test.ts
  backend/test/api/books.test.ts
  backend/test/factories/book.ts
  backend/test/index.spec.ts
  backend/test/setup.ts
  backend/test/tsconfig.json
  backend/test/types/env.d.ts
  backend/tsconfig.json
  backend/vitest.config.mts
  backend/worker-configuration.d.ts
  backend/wrangler.toml
Labels: backend

#23 ユーザに関するAPIを実装した
  api/paths/user.yml
  backend/drizzle/migrations/0002_cloudy_paibok.sql
  backend/drizzle/migrations/0003_illegal_colossus.sql
  backend/drizzle/migrations/0004_flaky_sister_grimm.sql
  backend/drizzle/migrations/meta/0002_snapshot.json
  backend/drizzle/migrations/meta/0003_snapshot.json
  backend/drizzle/migrations/meta/0004_snapshot.json
  backend/drizzle/migrations/meta/_journal.json
  backend/drizzle/schema.ts
  backend/drizzle/seeds/user.sql
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/api/user.ts
  backend/src/index.ts
  backend/src/schema.ts
  backend/src/utils/crypto.ts
  backend/test/api/book.test.ts
  backend/test/api/books.test.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
  backend/test/factories/user.ts
  backend/test/setup.ts
Labels: backend

#28 READMEに動作確認の手順を追記した
  backend/README.md
  backend/drizzle/seeds/book.sql
Labels: backend

#29 パスワードのバリデーションを追加した
  api/paths/auth.yml
  api/paths/user.yml
  backend/drizzle/seeds/user.sql
  backend/src/schema.ts
  backend/test/api/auth.test.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
  backend/test/context/login.ts
Labels: backend

#32 CORSを設定した
  backend/src/index.ts
Labels: backend

#43 fix:frontend wrangler name
  frontend/wrangler.toml
Labels: frontend

#45 auth.loginのコードを整理した。
  api/.gitignore
  api/bundle.yml
  frontend/app/components/layouts/FormLayout.tsx
  frontend/app/components/login/LoginEmailForm.tsx
  frontend/app/components/login/LoginFormComponent.tsx
  frontend/app/components/login/LoginFormHelpText.tsx
  frontend/app/components/login/LoginFormTItle.tsx
  frontend/app/components/login/LoginPasswordForm.tsx
  frontend/app/components/login/LoginSubmitButton.tsx
  frontend/app/components/login/LoginTitle.tsx
  frontend/app/routes/auth.login.tsx
Labels: frontend

#33 貸出履歴のAPIを実装した
  api/components/schemas/Loan.yml
  api/paths/auth.yml
  api/paths/book.yml
  api/paths/loan.yml
  api/paths/user.yml
  backend/README.md
  backend/drizzle/migrations/0006_flashy_proteus.sql
  backend/drizzle/migrations/meta/0006_snapshot.json
  backend/drizzle/migrations/meta/_journal.json
  backend/drizzle/schema.ts
  backend/drizzle/seeds/book.sql
  backend/drizzle/seeds/loan.sql
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/api/auth.ts
  backend/src/api/book.ts
  backend/src/api/loan.ts
  backend/src/api/user.ts
  backend/src/index.ts
  backend/src/schema.ts
  backend/src/utils/auth.ts
  backend/test/api/book.test.ts
  backend/test/api/books.test.ts
  backend/test/api/loans.test.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
  backend/test/setup.ts
  orval.config.js
Labels: backend

#47 LoginFormTitleのファイル名修正
  frontend/app/components/login/LoginFormTitle.tsx
Labels: bug, frontend

#50 レスポンスからパスワードダイジェストを取り除いた
  .github/PULL_REQUEST_TEMPLATE.md
  api/bundle.yml
  api/components/examples/user.yml
  api/components/schemas/User.yml
  backend/src/schema.ts
  backend/test/api/auth.test.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
Labels: backend

#49 ページネーションのAPIのレスポンスに総ページ数を追加した
  README.md
  api/bundle.yml
  api/paths/book.yml
  api/paths/loan.yml
  api/paths/user.yml
  backend/src/api/book.ts
  backend/src/api/loan.ts
  backend/src/api/user.ts
  backend/src/schema.ts
  backend/test/api/books.test.ts
  backend/test/api/loans.test.ts
  backend/test/api/users.test.ts
  orval.config.dev.js
  orval.config.js
Labels: backend

#51 静的解析ツールを導入した
  .vscode/extensions.json
  .vscode/settings.json
  backend/.husky/pre-commit
  backend/.prettierignore
  backend/README.md
  backend/drizzle/schema.ts
  backend/eslint.config.mjs
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/api/auth.ts
  backend/src/api/book.ts
  backend/src/api/loan.ts
  backend/src/api/user.ts
  backend/src/index.ts
  backend/test/api/auth.test.ts
  backend/test/api/book.test.ts
  backend/test/api/books.test.ts
  backend/test/api/loans.test.ts
  backend/test/api/user.test.ts
  backend/test/api/users.test.ts
  backend/test/setup.ts
Labels: backend

#54 ログアウト成功のステータスコードを204に修正した
  api/paths/auth.yml
  backend/src/api/auth.ts
  backend/test/api/auth.test.ts
Labels: backend

#55 ヘッダーを実装した
  frontend/.DS_Store
  frontend/app/components/header/HeaderBookMenu.tsx
  frontend/app/components/header/HeaderComponent.tsx
  frontend/app/components/header/HeaderLoginButton.tsx
  frontend/app/components/header/HeaderLoginComponent.tsx
  frontend/app/components/header/HeaderLogoutComponent.tsx
  frontend/app/components/header/HeaderMainComponent.tsx
  frontend/app/components/header/HeaderTitleLogo.tsx
  frontend/app/components/header/HeaderUserMenu.tsx
  frontend/app/components/header/HeaderUsersMenu.tsx
  frontend/app/components/login/LoginEmailForm.tsx
  frontend/app/components/login/LoginFormComponent.tsx
  frontend/app/components/login/LoginPasswordForm.tsx
  frontend/app/img/kitcc.png
  frontend/app/routes/auth.login.tsx
  frontend/app/routes/home.tsx
  frontend/app/stores/userAtom.ts
  frontend/orval/client.schemas.ts
  frontend/orval/client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/favicon.ico
  frontend/public/favicon.png
Labels: frontend

#58 最後のページを超える場合は空の配列を返すようにした
  api/bundle.yml
  api/paths/book.yml
  api/paths/loan.yml
  api/paths/user.yml
  backend/README.md
  backend/src/api/book.ts
  backend/src/api/loan.ts
  backend/src/api/user.ts
  backend/src/schema.ts
  backend/test/api/books.test.ts
  backend/test/api/loans.test.ts
  backend/test/api/users.test.ts
Labels: backend

#62 GETのAPIに並び替えのパラメータを追加した
  api/bundle.yml
  api/components/examples/book.yml
  api/components/schemas/Book.yml
  api/paths/auth.yml
  api/paths/book.yml
  api/paths/loan.yml
  api/paths/user.yml
  backend/drizzle/migrations/0007_elite_winter_soldier.sql
  backend/drizzle/migrations/meta/0007_snapshot.json
  backend/drizzle/migrations/meta/_journal.json
  backend/drizzle/schema.ts
  backend/drizzle/seeds/book.sql
  backend/src/api/book.ts
  backend/src/api/loan.ts
  backend/src/schema.ts
  backend/test/factories/book.ts
  backend/test/setup.ts
Labels: backend

#65 本一覧ページの実装
  api/bundle.yml
  backend/src/utils/auth.ts
  frontend/app/components/book-search/BookSearchAuthorForm.tsx
  frontend/app/components/book-search/BookSearchComponent.tsx
  frontend/app/components/book-search/BookSearchForm.tsx
  frontend/app/components/book-search/BookSearchIsbnForm.tsx
  frontend/app/components/book-search/BookSearchModeButton.tsx
  frontend/app/components/book-search/BookSearchPublisherForm.tsx
  frontend/app/components/book-search/BookSearchSubmitButton.tsx
  frontend/app/components/book-search/BookSearchTitleForm.tsx
  frontend/app/components/books/BookCard.tsx
  frontend/app/components/books/BookCardCartButton.tsx
  frontend/app/components/books/BookCardFooter.tsx
  frontend/app/components/books/BookCardHeader.tsx
  frontend/app/components/books/BookCardHeaderBadge.tsx
  frontend/app/components/books/BookCardThumbnail.tsx
  frontend/app/components/books/BookCards.tsx
  frontend/app/components/books/BookListComponent.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
  frontend/app/components/books/ErrorBookComponent.tsx
  frontend/app/components/books/NoBookComponent.tsx
  frontend/app/components/common/ContentsHeader.tsx
  frontend/app/components/common/CurrentContentNumber.tsx
  frontend/app/components/common/LimitSelect.tsx
  frontend/app/components/common/PaginationComponent.tsx
  frontend/app/components/header/HeaderBookMenu.tsx
  frontend/app/components/header/HeaderComponent.tsx
  frontend/app/components/header/HeaderLoginComponent.tsx
  frontend/app/components/header/HeaderUserMenu.tsx
  frontend/app/components/header/HeaderUsersMenu.tsx
  frontend/app/components/layouts/FormBaseLayout.tsx
  frontend/app/components/layouts/FormLayout.tsx
  frontend/app/components/login/LoginEmailForm.tsx
  frontend/app/components/login/LoginFormComponent.tsx
  frontend/app/components/login/LoginPasswordForm.tsx
  frontend/app/img/noImage.png
  frontend/app/routes/auth.login.tsx
  frontend/app/routes/home._index.tsx
  frontend/app/stores/cartAtom.ts
  frontend/app/stores/userAtom.ts
  frontend/orval/client.schemas.ts
  frontend/orval/client.ts
  frontend/orval/mutator.ts
  frontend/package.json
  orval.config.dev.js
Labels: frontend

#83 サンプル書籍のサムネイル画像を本物に変更した
  backend/drizzle/seeds/book.sql
  backend/drizzle/seeds/user.sql
Labels: backend

#79 「カートに追加」ボタンの色を統一した
  frontend/app/components/books/BookCard.tsx
  frontend/app/components/books/BookCardCartButton.tsx
  frontend/app/components/books/BookCards.tsx
  frontend/app/components/books/BookSelectedDialog.tsx
Labels: frontend

#86 GET /loans のレスポンスにユーザと書籍の情報を追加した
  api/bundle.yml
  api/paths/loan.yml
  backend/src/api/loan.ts
  backend/src/schema.ts
  backend/test/api/loans.test.ts
Labels: backend

#96 customFetchにおけるメディアタイプの判定を修正する
  frontend/orval/mutator.ts
Labels: frontend

#101 フロントエンドのサーバでCookieを設定する
  frontend/.eslintrc.cjs
  frontend/app/components/book-detail/BookDetailBorrower.tsx
  frontend/app/components/book-detail/BookDetailComponent.tsx
  frontend/app/components/book-detail/BookDetailContent.tsx
  frontend/app/components/book-detail/BookDetailControlPanel.tsx
  frontend/app/components/header/HeaderComponent.tsx
  frontend/app/components/header/HeaderLoginComponent.tsx
  frontend/app/routes/auth.login.tsx
  frontend/app/routes/home._index.tsx
  frontend/app/routes/home.books.$bookId.tsx
  frontend/app/routes/home.mypage.tsx
  frontend/app/routes/home.tsx
  frontend/app/services/session.server.ts
  frontend/app/utils/notification.ts
  frontend/test/routes/auth.login.test.tsx
  frontend/test/setup.ts
  orval.config.dev.js
  orval.config.js
Labels: frontend

#109 ログインページのテストを書き直した
  frontend/app/components/login/LoginEmailForm.tsx
  frontend/app/components/login/LoginPasswordForm.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/test/helpers/wrapper.tsx
  frontend/test/mocks/@remix-run/cloudflare.ts
  frontend/test/routes/auth.login.test.tsx
  frontend/vite.config.ts
Labels: frontend

#107 通知が1回のみ表示されるようにした
  frontend/app/components/header/HeaderLoginComponent.tsx
  frontend/app/routes/_index.tsx
  frontend/app/routes/auth.login.tsx
  frontend/app/routes/home._index.tsx
  frontend/app/routes/home.books.$bookId.tsx
  frontend/app/routes/home.mypage.tsx
  frontend/app/routes/home.tsx
  frontend/app/services/session.server.ts
Labels: frontend
